.messenger{
    height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  button {
    border: 0px;
    cursor: pointer;
  }
  .chatbox {
    width: 100%;
    padding: 5px;

    padding-bottom: 20px;

    .chatboxTop {
      margin-top: 10px;
      height: 85%;
      display: flex;
      flex-direction: column;
      min-width: 202px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      padding: 20px;
      padding-bottom: 10px;
      border-radius: 10px;

      .openChat {
        text-align: center;
        color: #ffaf38;
        font-size: 50px;
      }
    }
    .chatboxBottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      form {
        display: flex;
        width: 100%;
        height: 40px;
        margin-top: 12px;
      }
      input,
      .chatButton {
        padding: 10px;
        font-size: 12px;
        margin: 0px 10px 0px 0px;
      }
      input {
        width: 100%;
        border-radius: 10px;
      }

      .inputText {
        height: 10px;
        background: #fafafa;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;

        padding: 10px;
      }
      .chatButton {
        background: #050714;
        cursor: pointer;
        border: none;
        color: #fff;
        display: flex;
        align-items: center;
      }
    }
  }
  .chatboxTop {
    overflow-y: auto;
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: #320234;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.38);
    }
  }
}


.searchBar{
    width: 80%;
    form{
        display:flex;
        width:200px;
        height: 40px;
        border-radius: 10px;
        border: none;
       
        input{
            
            background:beige;
            border: none;
            border-radius: 10px;
            height: 100%;
            text-indent:25px;
           
        }
        input[type="search"]:focus{
            outline-color: crimson;
            border-radius: 8px;
        }
        datalist{
            width: 20px;height: 50px;
            background: steelblue;
            option{
                background: steelblue;
            }
        }

    }
    i{
        position: absolute;
        left:5px;
        top:10px;
    }
}