$sidebar-bg-color: #ffffff;
@import '~react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar-layout{
    background: #fff url("../assets/abstract-timekeeper\ \(2\).svg");
    background-repeat: no-repeat;
    background-size:cover ;
    z-index: 1;
    overflow-y: auto;
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: #320234;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.38);
    }
}
.pro-menu-item{
    color:#247c57;
}
.pro-sidebar-content{
  background-repeat: no-repeat;
  background-size:cover ;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

}